.http-input {
	display: inline;
	width: 85%;
}

.period-select {
	padding-top:12px;
}

.period-select input {
	width:30%;
	display:inline;
}

.period-select div {
	display:inline;
}

.period-select select {
	width:40%;
	display:inline;
}

.chart-canvas {
	width:75%; 
	height:30%;
}

.chart-remove {
	font-size: 24px;
	color: red;
}